@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body{
    width: 100%;
    margin:0 auto;
    background-image: url('fruit.jpeg') ;
}
.top-icons{
        display: flex;
        position: sticky;
        top: 0;
        width: 100% ;   
        padding: 0 20px;
        background-color: rgba(255, 255, 255, 0.6);
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
}

.title{
    font-size: 30px;
    margin: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    color: rgb(94,65,65);
}
.login{
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    color: rgb(94,65,65);
    display: flex;
}

.login a{
    margin-top: 15px;
    margin-right: 5px;
}

.search{
    opacity: 0.6;
}

.link{
    margin-top: 150px;
    display: flex;
    position: absolute;
}

.search_food{
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: outset 15px rgba(255, 255, 255, 0.6);
    display: block;
    margin-left: 313px;
}

.search_food p{
    font-size: 35px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    color: rgb(24, 17, 17);
}

.add{
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: outset 15px rgba(255, 255, 255, 0.6);
    display: block;
    margin-left: 165px;
}

.add p{
    font-size: 35px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    color: rgb(24, 17, 17);
}